.card {
  border-radius: 2px;
  height: 325px;
  margin: -14px;
  position: relative;
  width: 325px;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}

.card > .img-container > img {
  width: 60%;
  height: 100%
}

.img-container {
  width: 200px;
  height: 200px;
}
